<!------ Include the above in your HEAD tag ---------->


<html>
<head>
{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'chatbot/css/chat.css' %}">
<link rel="stylesheet" href="{% static 'chatbot/css/bootstrap.min.css' %}">
<title>ChatBot</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class=" col-lg-offset-2 col-lg-8" style="margin-top: 30px" >
  <div class="messaging">
      <div class="inbox_msg">
      
        <div class="mesgs">
          <div class="msg_history">
            
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Tracks GmbH is a predictive fuel analytics and predicts your fuel consumption to help your truck fleet to reduce fuel consumption</p>
                  <p> I am an automated bot deployed by Tracks GmbH to register your truck. Please answer the following questions.</p>
                  <p></p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id = "write_msg" name="message" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" id = "msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
        </div>
        </div>
      </div>
      </div>
        </div>
    </div>
</div>
      
      
      

    <script src="{% static 'chatbot/js/jquery.js' %}"></script>

    <script src="{% static 'chatbot/js/message.js' %}"> </script>

    </body>
    </html> 